.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 8px 24px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &.active {
          background-color: #4CAF50;
        }

        &:hover {
          background-color: #111;
        }
      }
    }
  }

}
