@import "../../../assets/scss/index";

.university--item__section {
  border: 1px solid black;
  padding: 16px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30% 70%);
  grid-gap: 16px 8px;
  max-width: 480px;

  @include media-breakpoint-down(md) {
    max-width: 90vw;
  }

  .item-field-key {
    font-weight: bold;
  }

  .item-field-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-overflow: clip;
      white-space: normal;
      word-break: break-all;
    }

    @include media-breakpoint-down(md) {
      text-overflow: clip;
      white-space: normal;
      word-break: break-all;
    }
  }
}
