@import "../../assets/scss/index";

nav {
  height: auto;
  min-height: 50px;
  max-height: 100px;
  width: 100%;

  h1 {
    color: white;
  }

  .content {
    margin: auto;
    display: flex;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media-breakpoint-down(md) {
      width: 90%;
      justify-content: space-between;
    }

  }

  .actions {
    text-align: right;
    display: flex;
    align-items: center;

    span {
      margin: 0 10px;

      :last-child {
        margin-right: 0;
      }
    }
  }

  .search-area {
    border: 1px solid #dadbda;
    border-radius: 3px;
    transition: ease 1s 0s;
    background-color: #fbfbfa;
    text-align: center;

    input {
      font-size: 2rem;
    }

    &:focus {
      outline: none;
      text-align: left;
    }
  }

}



// @media only screen and (max-width: 680px) {
//   div>nav>div>div:nth-child(2) {
//     display: none;
//   }
// }

// @media only screen and (max-width: 360px) {
//   div>nav>div>div:nth-child(1) {
//     margin-bottom: 10px;
//     height: 30px;
//   }

//   div>nav>div {
//     display: flex;
//     flex-direction: column;
//   }
// }
